input {
    margin: 10px;
}

#sortbtn {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#suggestbtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#publishbtn {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}